//- page-a.pug
extends layout.pug
block scripts
  script(src='/jquery.js')
  //- script(src='/client.js')
block nav

block content
  ul#mapping
    each val in bookings
      li.bkng
        div= val.id
        div= val.date
        div.title= val.text
        div= val.in
        div= val.out
        select
          each val in accounts
            option= val.name
